{% extends "base.html" %}
{% load static %}

{% block title %} About me {% endblock %}

{% block content %}
	 <div class="container-fluid">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="name">About Me</h1>
        	 <h2 class="text" id="effect1">Personal Info</h2> 
        	 <strong id="1" class="text">
        	 	<div class="row">
                <div class="col-sm-2">
                <p style="color:#6F4242">Name:</p>
                </div>
                <div class="col-sm-10">
                  <p style="color:#008080">Ankit Saini</p>
                </div>               
              </div>
              
              <div class="row">
                <div class="col-sm-2">
                <p style="color:#6F4242	">Enroll. No.:</p>
                </div>
                <div class="col-sm-10">
                  <p style="color:#008080">LIT2015044</p>
                </div>               
              </div>
              
              <div class="row">
                <div class="col-sm-2">
                <p style="color:#6F4242	">Domicile:</p>
                </div>
                <div class="col-sm-10">
                  <p style="color:#008080">Uttarpradesh</p>
                </div>               
              </div>
             
              <div class="row">
                <div class="col-sm-2">
                <p style="color:#6F4242	">Nationality:</p>
                </div>
                <div class="col-sm-10">
                  <p style="color:#008080">Indian</p>
                </div>               
              </div>
        	 </strong>
<!-- ------------------------------------------------------------------------------------------------------------- -->
        	 <h2 class="text" id="effect2">Interest</h2> 
        	 <strong id="2" class="text">
        	 	<div class="row">
	                <div class="col-sm-12">
	                <p style="color:#008080">Hacking</p>
	                </div>
              	</div>
              
              <div class="row">
                <div class="col-sm-12">
                <p style="color:#008080">Web Designing</p>
                </div>              
              </div>
              
              <div class="row">
                <div class="col-sm-12">
                <p style="color:#008080">Networking</p>
                </div>
              </div>
              
              <div class="row">
	                <div class="col-sm-6">
	                <p style="color:#008080">Programming</p>
	                </div>               
              </div>
        	 </strong>


<!-- ------------------------------------------------------------------------------------------------------------ -->
       <h2 class="text" id="effect3">Hobbies</h2> 
        	 <strong id="3" class="text">
        	 	<div class="row">
	                <div class="col-sm-12">
	                <p style="color:#008080">Solving CTF's</p>
	                </div>
              	</div>
              
              <div class="row">
                <div class="col-sm-12">
                <p style="color:#008080">Computer Programming</p>
                </div>              
              </div>
              
              <div class="row">
                <div class="col-sm-12">
                <p style="color:#008080">Reading Blogs on Cybersecurity and Hacking</p>
                </div>
              </div>
              
        	 </strong>

      </div>

    </div> <!-- /container -->

    
    
{% endblock %}

