{% extends "base.html" %}
{% load static %}

{% block title %} Contact {% endblock %}

{% block content %}
	 <div class="container-fluid">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
       <h1 class="name">Contact</h1>
	        <div class="row">
	        	<div class="col-sm-12">
			        <address>
			        	<strong>Address:</strong><br>
			        	Room no. 441 Boys Hostel II,<br>
			        	Indian Institute of Information Technology Allahabad,<br>
			        	Devghat, Jhalwa, Allahabad - 211012<br>
			        	Uttar Pradesh, India. 
			        </address>
		    	</div>
	    	</div>
        
	        <div class="row">
		        <div class="col-sm-12">
		        	<i class="fa fa-envelope fa-lg" aria-hidden="true"></i>&nbsp;<u>ankitsaini2609@gmail.com</u>
		        </div>
	        </div>
        
	        <div class="row">
		        <div class="col-sm-12">
		        	<i class="fa fa-mobile fa-2x" aria-hidden="true"></i>&nbsp;<u>(+91)9807628526</u>
		        </div>
	        </div>
	        <div class="row">
		        <div class="col-sm-12">
		        	<a href="https://www.facebook.com/ankitsaini2609" target="_blank"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a> &nbsp;&nbsp;<a href="https://www.linkedin.com/in/ankitsaini2609/" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
		        </div3
	        </div>
        </div>
    </div> <!-- /container -->
{% endblock %}