{% load static %}
 
    

    <!-- Bootstrap core CSS -->
    
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  
    <link rel="stylesheet" type="text/css" href="{% static 'css/expando.css' %}" media="all" />
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet" /> 

    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet" />

    <link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
